.GarageForm {
  width: 50%;
  height: 650px;
  border: 1px solid black;
}

.FormTable {
  margin-top: 40px;
}
h4 {
  text-align: center;
}

fieldset {
  display: inline-block;
  width: 48%;
  height: 600px;
}
h3 {
  color: blue;
}
